<!doctype html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div ng-controller="Controller">
    <fieldset>
        <form>
             <!--<input type="radio" name="Category" ng-repeat= "i in competition" value="i.class" >{{i.class}}</input>-->
            <br>
        <input type="text" ng-model="lstNme" placeholder="Введите фамилию">
        <button type="reset" ng-click="reset()" >Очистить</button>
        </form>
    </fieldset>
    <ul class="nav nav-tabs">
        <li ng-class="active: isSelected('All')">
            <a href="" ng-click="select('All')">Все группы</a>
        </li>
        <li ng-repeat= "i in competition" ng-class="active: isSelected(i.class)">
            <a href="" ng-click="select(i.class)">{{i.class}}</a>
        </li>
    </ul>

    <div ng-model="el" ng-repeat="i in competition|filter: {class:filtText}">
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>Номер</th>
            <th>Фамилия Имя</th>
            <th ng-repeat="b in i.competitors[0].splits">{{b.name}}</th>
        </tr>
        <tr ng-repeat="a in i.competitors|filter:lstNme">
            <td>{{a.bib}}</td>
            <td>{{a.lastName+" "+a.firstName}}</td>
            <td ng-repeat="c in a.splits">{{c.link}}</td>
        </tr>
        </table>
        </div>
    </div>
</div>
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>
<script src="js/controllers/controller.js"></script>
<script src="js/filter.js"></script>
</body>
</html>