<!doctype html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myStyles.css" />
</head>
<body>
<div ng-controller="Controller">
    <fieldset>
        <form>
            <br>
            <p>Поиск:
                <input type="text" ng-model="lstNme" placeholder="Введите номер или ФИО">
            </p>
            <button type="reset" ng-click="reset()" >Очистить</button>
        </form>
    </fieldset>
    <ul class="nav nav-tabs">
        <li ng-class="active: isSelected('All')">
            <a href="" ng-click="select('All')">Все группы</a>
        </li>
        <li ng-repeat= "i in competition" ng-class="active: isSelected(i.class)">
            <a href="" ng-click="select(i.class)">{{i.class}}</a>
        </li>
    </ul>

    <div ng-model="el" ng-repeat="i in competition|filter: {class:filtText}">
        <p>{{i.class}}</p>
        <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-hover-cells">
            <thead>
        <tr>
            <th>Номер</th>
            <th>Фамилия Имя</th>
            <th ng-repeat="b in i.competitors[0].splits">{{b.name}}</th>
        </tr>
            </thead>
        <tr ng-repeat="a in i.competitors|filter:lstNme">
            <td>{{a.bib}}</td>
            <td>{{a.lastName+" "+a.firstName}}</td>
            <td ng-repeat="c in a.splits" ><a href="{{c.link}}">{{c.name}}</a></td>
        </tr>
        </table>
        </div>
    </div>
</div>
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
</script>
<script src="js/controllers/controller.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
</body>
</html>